.font-inter {
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 85%;
    margin: 0px auto;
}

* {
    margin: 0px;
    padding: 0px;
    
    color: #F6F2E9;
}
body{
    background-color: #111827;
}
html{
    scroll-behavior: smooth;
}
/* shared styles are here */
.center{
    text-align: center;
}
.blue{
    color: #3878FC;
}
.white2{
    color: #eeeeeed8;

}
.bg{
    background-color: #232D42;
}
.section-title{
    font-size: 3rem;
    text-align: center;
}
.gradient {
    background-image: linear-gradient(to right, #6745FC, #3878FC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.primary-button{
    background-color: #3979FD;
    padding: 16px 20px;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    font-weight: 600;
}
.secondary-button{
    background-color: transparent;
    padding: 14px 18px;
    border: 2px solid #F6F2E9;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
}

/* #1F2937 */
/* header styles are here */
header{
    background-image: url('./images/banner-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}
#threebar{
    font-size: 1.25rem;
    display: none;
    color: #F6F2E9;
}
.nav-links {
    padding: 8px 2px;
    border: 1px solid #334160;
    border-radius: 40px;
    display: flex;
    gap: 24px;
    list-style: none;
}
.nav-links:hover{
    
}
.nav-links a {
    text-decoration: none;
    padding: 6px 8px;
    border-radius: 40px;
    background: transparent;
   
}
.nav-links a:hover{
    background: linear-gradient(to right, #6745FC, #3878FC);
}
.brand {
    font-weight: 700;
    font-size: 2rem;
    background-image: linear-gradient(to right, #6745fc, #3878FC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* banner styles are here */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
    
}
.banner-image{
    width: 100%;
}
.banner-title {
    font-size: 4.5rem;
    color: #3878FC;
}
.banner-subtitle{
    font-size: 3.5rem;
}
.banner-description{
    font-size: 1.5rem;
    color: #EEEEEE;
    margin: 20px 0px;
}
.banner-content{
    max-width: 720px;
}
.banner-content .primary-button{
    margin-right: 12px;
}
/* about section */
.section-title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.section-description {
    color:#EEEEEE ;
    font-size: 1.1rem;
    text-align: center;
}

.about-me {
    background-color: #232D42;
    padding: 50px 0px;
    
}
.about-info{
    max-width: 1000px;
    margin: 0 auto;

}
.about-item {
    font-size: 1.25rem;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 40px;

}
.item-info {
    

}
.item-description {
    color: #4F82FF;
    font-weight: 600;
}
/* education */
.education{
    margin: 50px 0px;
}

.edu-card-container{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.edu-card{
    border-radius: 8px;
    max-width: 324px;
    padding: 20px;
    background-color: #2a354f;
    box-shadow:0px 0px 10px #192131;
    
}
.card-title{
    font-size: 1.4rem;
    color: #3878FC;
}
.card-subtitle{
    font-size: 1.25rem;
    color: #f2f2f2cd;
    margin-top: 8px;
}
.card-description{
    color: #e7e7e7ad;
    margin-top: 16px;
}
/* interest */
.interest{
    display: flex;
    flex-direction: column;
    gap: 5px;align-items: center;

}
.interest-container{
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 50px;
}
.interest-container img{
    width: 70px;
    height: 70px;
    border-radius: 5px;
    box-shadow:0px 0px 10px #192131;
}
/* prpojects section */
.projects{
    padding: 50px 0px;
}
.pro-card-container{
    display: flex;
    gap: 24px;
    justify-content: space-evenly;

}
.pro-card{
    max-width: 348px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #3879fc61;
    align-items: center;
    border-radius: 12px;
    background-color: #2a354f;
    box-shadow: 0px 5px 10px #6745fc53;
}
.pro-card img{
    width: 100%;
    border-radius: 12px;
}
.pro-card-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 10px;
}
.pro-card-title{
    font-size: 1.25rem;
    color: #3878FC;
}
.pro-card-description{
    margin: 10px 0px;
    color: #eeeeeecc;
}
.pro-card .secondary-button{
    border-radius: 50px;
    width: 100%;
    padding: 12px 20px;
    color: #3878FC;
    border: 2px solid #3878FC;
}
.all-projects{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.view-project{
    margin-top: auto;
}
.all-projects button{
    color: #eeeeeed8;
    border: 2px solid #EEEEEE;
    padding: 12px 40px;
    border-radius: 40px;
    width: 100%;
}
/* skill section */
.skill-section{
    padding: 50px 0px;
}
.skills-wrapper{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.tech-skill-title{
    margin-bottom: 16px;
    font-size: 2rem;
}
.skill-container{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.skill{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 500px;
    border-radius: 16px;
    background-color: #2a354f;
}
.skill img{
    width: 50px;
    height: 50px;
}
.skill-info{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.skill-title{
    margin-bottom: 8px;
    color: #3878FC;
}
.stat{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.statbar-html{
    width: 90%;
    height: 8px;
    background-color: #08FF65;
    border-radius: 8px ;
}
.statbar-css{
    width: 85%;
    height: 8px;
    background-color: #00ce4f;
    border-radius: 8px ;
}
.statbar-js{
    width: 58%;
    height: 8px;
    background-color: #009138;
    border-radius: 8px ;
}
.statbar-ai{
    width: 79%;
    height: 8px;
    background-color: #00c54b;
    border-radius: 8px ;
}

.percent{
    font-size: 0.7rem;
}
/* contact me  */
.contact{
    padding: 50px 0px;
}
.contact-container{
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
}
.contact-form form {
    display: flex;
    flex-direction: column;
    margin-top: 20px ;
}

.social img{
    max-width: 80%;
    filter:opacity(.9);
}
.social-description{
    max-width: 640px;
    margin: 16px 0px 8px;
}

.social-icons a{
    font-size: 1.5rem;
    margin-right: 10px;
}
.contact-form input[type="text"],
.contact-form input[type="email"] {
    background-color: #2A354F;
    height: 64px;
    width: auto;
    border-radius: 5px;
    padding: 8px 22px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 24px;
}
.contact-form input::placeholder{
    color: #eeeeeed8;
}
.contact-form textarea::placeholder{
    color: #eeeeeed8;
}
.contact-form input,
.contact-form textarea {
    border: 2px solid #3879fc8b
}

.contact-form textarea {
    width: auto;
    background-color: #2A354F;
    color:  white;
    font-size: 16px;
    text-align: left;
    padding: 8px 22px;
    border-radius: 5px;
    margin-bottom: 24px;
}
.footer{
    background-color: #0d121c;
    padding: 20px 0px;
    text-align: center;
}
/* Responsive media query */
@media screen  and (max-width:576px){
    header{
        background-image: none;
    }
    .container{
        max-width: 90%;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .about-item,
    .edu-card-container,
    .pro-card-container,
    .skills-wrapper,
    .contact-container{
        flex-direction: column;
    }
    .nav-links{
        display: none;
    }
    #threebar{
        display: block;
    }
    .social img{
        max-width: 100%;
    }
    .interest-container{
        grid-template-columns: repeat(2, 1fr);
    }
}