.font-inter {
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 85%;
    margin: 0px auto;
}

* {
    margin: 0px;
    padding: 0px;
    
    color: #F6F2E9;
}
body{
    background-color: #111827;
}
html{
    scroll-behavior: smooth;
}
/* shared styles are here */
.section-title{
    font-size: 3rem;
    text-align: center;
}
.gradient {
    background-image: linear-gradient(to right, #6745FC, #3878FC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.primary-button{
    background-color: #3979FD;
    padding: 16px 20px;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    font-weight: 600;
}
.secondary-button{
    background-color: transparent;
    padding: 14px 18px;
    border: 2px solid #F6F2E9;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
}

/* #1F2937 */
/* header styles are here */
header{
    background-image: url('./images/banner-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}
#threebar{
    font-size: 1.25rem;
    display: none;
    color: #F6F2E9;
}
.nav-links {
    display: flex;
    gap: 24px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;

}

.brand {
    font-weight: 700;
    font-size: 2rem;
    background-image: linear-gradient(to right, #6745fc, #3878FC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* banner styles are here */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
    
}
.banner-image{
    width: 100%;
}
.banner-title {
    font-size: 4.5rem;
    color: #3878FC;
}
.banner-subtitle{
    font-size: 3.5rem;
}
.banner-description{
    font-size: 1.5rem;
    color: #EEEEEE;
    margin: 20px 0px;
}
.banner-content{
    max-width: 720px;
}
.banner-content .primary-button{
    margin-right: 12px;
}
/* about section */
.section-title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.section-description {
    color:#EEEEEE ;
    font-size: 1.1rem;
    text-align: center;
}

.about-me {
    background-color: #232D42;
    padding: 50px 0px;
    
}
.about-info{
    max-width: 1000px;
    margin: 0 auto;

}
.about-item {
    color: rgba(117, 117, 117, 1);
    font-size: 1.25rem;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 40px;

}
.item-info {
    

}
.item-description {
    color: #8bb1ff;
    font-weight: 600;
}
/* Responsive media query */
@media screen  and (max-width:576px){
    .container{
        max-width: 90%;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .about-item{
        flex-direction: column;
    }
    .nav-links{
        display: none;
    }
    #threebar{
        display: block;
    }
}